PORT=4000
JWT_SECRET=ommex-dev-secret
APPS_SCRIPT_DB_URL=https://script.google.com/macros/s/AKfycbxv1zd57j-Pz3ZKO89_lfJyRxZ7c8hpcuD23wDJQJa9PIOS0lpO4XdDmm4zZS1Z7Vn7/exec
WEBAUTHN_RP_NAME=Ommex Turnos
WEBAUTHN_RP_ID=localhost
WEBAUTHN_EXPECTED_ORIGINS=http://localhost:5173,http://localhost:4173,http://localhost:3000
