PORT=4000
JWT_SECRET=ommex-dev-secret
APPS_SCRIPT_DB_URL=https://script.google.com/macros/s/AKfycbzQJMq7DlAXbJ7uqaivBIXz2gn-hytkAxnQxM5zTVI9wMRWsw4GepK2X-2cPOWZIG2C/exec
WEBAUTHN_RP_NAME=Ommex Turnos
WEBAUTHN_RP_ID=localhost
WEBAUTHN_EXPECTED_ORIGINS=http://localhost:5173,http://localhost:4173,http://localhost:3000
