PORT=4000
JWT_SECRET=ommex-dev-secret
APPS_SCRIPT_DB_URL=https://script.google.com/macros/s/AKfycbww1d3383bJIuyuvsD2ehJB_qGlOwydA_fDSLOX5h5W6q3rhCmCDFfkyZ4NbfNnLhaw/exec
WEBAUTHN_RP_NAME=Ommex Turnos
WEBAUTHN_RP_ID=localhost
WEBAUTHN_EXPECTED_ORIGINS=http://localhost:5173,http://localhost:4173,http://localhost:3000
